spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:15432/cart-demo}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:mypassword}
  jpa:
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    sql: DEBUG
